<hgroup>
  <h1>Locate your address</h1>
  <p>
    Just <%= link_to "Sign up", new_account_registration_path, rel: 'noopener noreferrer' %> to locate your address GPS
    coordinates (latitude and longitude)
  </p>
</hgroup>